# Basics

Press SHIFT+ENTER TO EXECUTE A CELL OF CODE

In [1]:
##Comments begin with a '#' symbol.
print(1+1)
print(1.2*3.4)
print(3/2)
print(3.0/2)
a = 'test'
print(a)
b = 'sample\nstring'
print(b)

2
4.08
1.5
1.5
test
sample
string

In [2]:
c = ['1', 2, 'a', 3, 'hello']
print(c)
print("5%4",5%4) #remainder function.
print("11%7",11%7)
print("5>4  {}".format(5 > 4))
print(5<4)
print(5<=4)
print(4 == 3)
print(5 != 4)
print(1&1)
print(1&0)
print(1|1)
print(1|0)
print(True&True)
print(True&False)
print(True|True)
print(True|False)

['1', 2, 'a', 3, 'hello']
5%4 1
11%7 4
5>4  True
False
False
False
True
1
0
1
1
True
False
True
True

# Variable assignments

In [3]:
x = 3
y = 6
print(x+y)
print(x/3)
print(x*y)
print(x%y)
print(x**y)# 
print(pow(x,y))

9
1.0
18
3
729
729

In [4]:
name=input("ener ur name:")
print(name)
age=input("enter ur age:")
print(age)

ener ur name:ayub
ayub
enter ur age:12
12

In [5]:
x,y=3,3
print(y == x)
print(x, y)
x, y = y, x
print(x, y)
x, y = y, x*y+y
print(x, y)
x, y, z = 1, '2', 'hello'
print(x, y, z)

True
3 3
3 3
3 12
1 2 hello

In [6]:
# in OPERATOR
x=[1,2,3]
print 1 in x
print 5 in x

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-6-9365fab3d64e>, line 3)


## Print formatting

In [7]:
print(x)
print('the variable x has value: ', x) #This gives a tuple in python 2.x
print('the variable x has value: {}'.format(x))
print('{}, {}'.format(x, y))
print('{1}, {0}'.format(x, y)) #positional formatting

1
the variable x has value:  1
the variable x has value: 1
1, 2
2, 1

## Loops and Conditional statements

In [8]:
# how to use for
for i in [1, 2, 3, 4]:
    print(i)
# observe the difference between previous for and the bellow for
for i in [1, 2, 3, 4]:
    print (i), #the difference is a comma

print('\n'*2)
#max of two numbers using simple if 
a,b=5,6
if(a>b):
    print(a)
else:
    print(b)

1
2
3
4
1
2
3
4



6

In [ ]:
# usage of range is to create a sequence
range_list = range(5)
#above statement is equivalent to "list = [0, 1, 2, 3, 4]"
print(range_list)
print('\n'*2)
# usage of simple else if ladder
for i in range_list:
    if i < 2:
        print('{} < 2'.format(i))
    elif i == 2:
        print('{} = 2'.format(i))
    else:
        print('{} > 2'.format(i))
print('='*50)

### Question: Print all the natural numbers below 100 which are multiples of 3 or 5

In [13]:
# Your answer here

### Write a program which will find all such numbers which are divisible by 11 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.
Hint: Consider use range(#begin, #end) method

In [62]:
# Your Answer here

## LISTS AND INDEXING

In [63]:
list1 = ['Machinelearning', 'TextMIning', 2014, 2016,1.3]
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"]
print(list1)
print(list2)
print(list3)

['Machinelearning', 'TextMIning', 2014, 2016, 1.3]
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']
Machinelearning
TextMIning
2014
['Machinelearning', 'TextMIning', 2014, 2016, 1.3]
('length of list1', 5)
['Machinelearning', 'TextMIning', 2014, 2016, 1.3]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']
['Machinelearning', 'TextMIning', 2014, 2016, 1.3, 1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']
['Machinelearning', 'TextMIning', 2014, 2016, 1.3, 'a', 'b']
49

# Accessing Values from List

In [ ]:
#individual elements can be accessed through index
print(list1[0])# indexing starts from zero
print(list1[1])
print(list1[2])
print(list1[0:5])# : scope operate can enable you to access multiple elements till 5-1 position
print("length of list1",len(list1))## len gives legth (number of elements in list) of list
print(list1[0:len(list1)])
print(list2[0:6])
print(list2[0:len(list2)])
print(list3[0:len(list3)])

combined=list1+list2+list3
print(combined)
list1.extend(['a','b'])
print(list1)

list = [1, 2, 3, 11, 12, 13, 3, 4]
print(sum(list))

## Guess the out put of the following with out executing

In [116]:
list = [1, 2, 3,'A', '12', 13, 3, 4,'hai']
print(list[0:4])
print(list[:6])
print(list[2:8])

In [117]:
print(list)
print(list[-1]) #prints the last element
print(list[-3])
print(list[3:-3])

# different methods in lists

In [50]:
list = [1, 2, 3, 11, 12, 13, 3, 4]
print(list)
list.append(0)
print(list)
list.extend([12, 13, 14])
print(list)
print(list+[1,2,3,4])
print(len(list))
print(list.index(1))
list[1]=23# lists can be updated
print(list)

#just another example use of append
l=range(100)
print(l)
l1=[]
for i  in l :
    l1.append(i)
print("after copying")
print(l1)
type(l1)

[1, 2, 3, 11, 12, 13, 3, 4]
[1, 2, 3, 11, 12, 13, 3, 4, 0]
[1, 2, 3, 11, 12, 13, 3, 4, 0, 12, 13, 14]
[1, 2, 3, 11, 12, 13, 3, 4, 0, 12, 13, 14, 1, 2, 3, 4]
12
0
[1, 23, 3, 11, 12, 13, 3, 4, 0, 12, 13, 14]

# List Comprehensions

In [ ]:
list = [1, 2, 3, 4, 5, 6]
print([i for i in list])
print([i*12+3 for i in list])
a = [i*12+3 for i in list]
print(a)
print([i*12 for i in list if i > 2])

### A String is a list too!!
###IT IS CONSIDERED AS A LIST OF CHARACTERS
###please observe the output of the following statements

In [23]:
string = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam'
print(string)
print(string[0])
print(string[:100])
print(string.split())
print(string.split('e', 3))
print(string.lower())
print(string.replace('e', 'a'))
print(len(string))
print(string.count('sit'))
tokens = string.split()
print(tokens)
print(' '.join(tokens))
print(' abc '.join(tokens))

## Explore different methods in strings given para_str

In [26]:
para_str = """this test is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string,test  whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also test show up.
"""

### yOUR CODE HERE
# Convert this string to lower case

# Covert this string to upper case

# Only the first alphabet of this sentence should be capital

# Split this string into words and name the list as z.

# Replace the word ‘test’ with ‘tested’ in para_str 

# Replace the word ‘tested’ with ‘test’ in the list para_str.


# Now combine the words in the list and make the sentence.


# In the new sentence find if there is a letter ‘z’ in it

# Replace spaces with hyphens in new sentence. Then make the words uppercase and split on hyphens in a single line

#dir(string)

#?string.splitlines

## SETS

In [97]:

l1=['A','B','C','D','E']
l2=['A']
print(l1+l2)
print("operations on sets")
s1=set(l1)
s2=set(l2)
print(s1.issuperset(s2))#s1>=s2
print(s1.union(s2))#s1|s2
print(s1.intersection(s2))#s1&s2
print(s1.difference(s2))#s1-s2
#JUST CHECKING ALL OPERATIONS
print(s1>=s2)#
print(s1|s2)#s1|s2
print(s1&s2)#s1&s2
print(s1-s2)#s1-s2
# usage of 'in' operator with sets
print('A' in l1)
print('F' in l2)
#just some additional things 
# set comprehension
a = {x for x in 'abracadabra' if x not in 'abc'}
print(a)
b={x for x in s1 if x  in s2}
print(b)

['A', 'B', 'C', 'D', 'E', 'A']
operations on sets
True
{'A', 'B', 'C', 'D', 'E'}
{'A'}
{'C', 'B', 'E', 'D'}
True
{'A', 'B', 'C', 'D', 'E'}
{'A'}
{'C', 'B', 'E', 'D'}
True
False
{'d', 'r'}
{'A'}

## Tuples

In [98]:
t1=(1,2,3) # 1,2,3
print (t1)
type(t)
# tuples can be nested
t2=((1,2,3),(5,10,15)) # or (1,2,3),(5,10,15)
print(t2)
print(t2[0])
print(t2[1])
print(t2[0][1])
print(t2[0][2])
#t2[0]=4,5,6 # generates error tuples are immutable
#print(t2) # generates error tuples are immutable

# but tuple can contain mutable objects
t3=([1,2,3],['hai','python','2.7'],"welcome")
print(t3)
t3[0][0]=10# i am updating list present in tuple
print(t3)
# you can also assign a tuple to multiple variables 
x,y,z=t1
print("x is",x)
print(y)
print(z)
# usage of 'in' with tuples
print(1 in t1)
print(9 in t1)

(1, 2, 3)
((1, 2, 3), (5, 10, 15))
(1, 2, 3)
(5, 10, 15)
2
3
([1, 2, 3], ['hai', 'python', '2.7'], 'welcome')
([10, 2, 3], ['hai', 'python', '2.7'], 'welcome')
x is 1
2
3
True
False

## Dictionaries

In [120]:
my_dict = {'key1':'value1', 4.0:'4', '3':3.22, 'list':['a', 'b', 3], 'key2':'value2'}
print(my_dict['key1'])
print(my_dict['3'])
print(my_dict[4])
my_dict['3'] += 1
print(my_dict['3'])
# print(my_dict[3])
print(my_dict['list'])
print('keys --> {}'.format(my_dict.keys()))
print('values --> {}'.format(my_dict.values()))

In [121]:
c1 = {'word1': 1000, 'word2':299}
c2 = {'word2': 300, 'word1':30}

word_count = c1.copy()
word_count.update(c2)

# print(word_count)

## Functions

In [32]:
def mult(input1, input2):
    product = input1*input2
    return(product)

mult(3, 4)

12

### Question: Define a function max() that takes two numbers as arguments and returns the largest of them. Use the if-then-else construct available in Python. (It is true that Python has the max() function built in, but writing it yourself is nevertheless a good exercise.)

In [61]:
def max(a,b):
    if(a>b):
        print('{} is max'.format(a))
    else:
        print('{}is max'.format(b))
max(5,6)

6is max

### Question: Define a function sum() and a function multiply() that sums and multiplies (respectively) all the numbers in a list of numbers. For example, sum([1, 2, 3, 4]) should return 10, and multiply([1, 2, 3, 4]) should return 24.

In [ ]:
####WRITE YOUR ANSWER HERE

### Question: Print the first 100 elements of a Fibonacci series (1, 1, 2, 3, 5, 8, 13, 21, 34, ...)

In [26]:
##WRITE YOUR ANSWER HERE

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073L, 4807526976L, 7778742049L, 12586269025L, 20365011074L, 32951280099L, 53316291173L, 86267571272L, 139583862445L, 225851433717L, 365435296162L, 591286729879L, 956722026041L, 1548008755920L, 2504730781961L, 4052739537881L, 6557470319842L, 10610209857723L, 17167680177565L, 27777890035288L, 44945570212853L, 72723460248141L, 117669030460994L, 190392490709135L, 308061521170129L, 498454011879264L, 806515533049393L, 1304969544928657L, 2111485077978050L, 3416454622906707L, 5527939700884757L, 8944394323791464L, 14472334024676221L, 23416728348467685L, 37889062373143906L, 61305790721611591L, 99194853094755497L, 160500643816367088L, 259695496911122585L, 420196140727489673L, 679891637638612258L, 1100087778366101931L, 1779979416004714189L, 2880067194370816120L, 4660046610375530309L, 7540113804746346429L, 12200160415121876738L, 19740274219868223167L, 31940434634990099905L, 51680708854858323072L, 83621143489848422977L, 135301852344706746049L, 218922995834555169026L]

### Given  'a' and 'b'. Compute 'c' which is the first 2 chars of 'a' followed by the last 2 chars of 'b'
#### a = 'insofe' & b = 'CPEE'

### Question:

Given the following string, tokenize and print the tokens.
Also compute the length of each word and store each length in a list called 'lengths'.

string = '''Pizza is a yeasted flatbread generally topped with tomato sauce and cheese and baked in an oven. 
It is commonly topped with a selection of meats, vegetables and condiments. 
The term was first recorded in the 10th century, in a Latin manuscript from Gaeta in Central Italy.[1]
The modern pizza was invented in Naples, Italy, and the dish and its variants have since become popular and common in many areas of the world.'''

In [ ]:
# Your answer here

## Modules

Modules are the backbone of python programs. Much like libraries in 'R', these need to be loaded before calling any useful function.

In [66]:
#Importing a whole module and accessing any function in it is as follows
import math
print(math.pow(4, 3))

#Imporing a particular function from a module is as follows
from random import randint
print(randint(2, 39)) #Generates a random integer between 2 and 39

64.0
3

In [58]:
?math.pow #access help in python notebooks using this command

# Question
Given a string
string1 = '''At Waterloo we were fortunate in catching a train for Leatherhead, where we hired a trap at the station inn and drove for four or five miles through the lovely Surrey lanes. 
It was a perfect day, with a bright sun and a few fleecy clouds in the heavens. 
The trees and wayside hedges were just throwing out their first green shoots, and the air was full of the pleasant smell of the moist earth. To me at least there was a strange contrast between the sweet promise of the spring and this sinister quest upon which we were engaged. 
My companion sat in the front of the trap, his arms folded, his hat pulled down over his eyes, and his chin sunk upon his breast, buried in the deepest thought. 
Suddenly, however, he started, tapped me on the shoulder, and pointed over the meadows.
''‘


1.Create an empty dictionary by name word_counts.
2.Split the words in the string.
3.In the empty dictionary created, we must have the ‘words’ as keys and their count (occurrences) as values
# perform the operations

In [35]:
#Lets try this out
string1 = '''At Waterloo we were fortunate in catching a train for Leatherhead, where we hired a trap at the station inn and drove for four or five miles through the lovely Surrey lanes. 
It was a perfect day, with a bright sun and a few fleecy clouds in the heavens. 
The trees and wayside hedges were just throwing out their first green shoots, and the air was full of the pleasant smell of the moist earth. To me at least there was a strange contrast between the sweet promise of the spring and this sinister quest upon which we were engaged. 
My companion sat in the front of the trap, his arms folded, his hat pulled down over his eyes, and his chin sunk upon his breast, buried in the deepest thought. 
Suddenly, however, he started, tapped me on the shoulder, and pointed over the meadows.'''

# Create an empty dictionary by name word_counts. 
# Split the words in the string
# In the empty dictionary created, we must have the ‘words’ as keys and their count (occurrences) as values

In [30]:
# YOUR ANSWER HERE

# Create an empty dictionary by name word_counts. 


# Split the words in the string call it as tokens


# count the occurences of each token create anothe list calle it as freq


# In the empty dictionary created, we must have the ‘words’ as keys and their count (occurrences) as values: \\
#FOR YOUR  convieniance I have given the code 
# it forms a dictinary using two lists tokens and freq.
word_count=dict(zip(tokens,freq))
#print(word_count)


# SORT the dictionary ADDITIONAL STEP: just inderstand the step by looking at output
sorted_dict=sorted(word_count.items(), key=lambda x: x[1])
#print(sorted_dict)

In [37]:
# ADDITIONAL : nOthiNG RELATED TO PREVIOUS CODE
#LOOK AT THE CODE AS A BLOCK -see the parameter what we are passing string1

string1 = '''At Waterloo we were fortunate in catching a train for Leatherhead, where we hired a trap at the station inn and drove for four or five miles through the lovely Surrey lanes. 
It was a perfect day, with a bright sun and a few fleecy clouds in the heavens. 
The trees and wayside hedges were just throwing out their first green shoots, and the air was full of the pleasant smell of the moist earth. To me at least there was a strange contrast between the sweet promise of the spring and this sinister quest upon which we were engaged. 
My companion sat in the front of the trap, his arms folded, his hat pulled down over his eyes, and his chin sunk upon his breast, buried in the deepest thought. 
Suddenly, however, he started, tapped me on the shoulder, and pointed over the meadows
'''
# Import wordcloud from WordCloud
# Function is  “wordcloud.generate(string1)”. Observe the words.. Some of the words are missing. 
# from wordcloud import WordCloud
# wordcloud = WordCloud().generate(string1)#stopwords=[]
# import matplotlib.pyplot as plt
# %matplotlib inline
# plt.imshow(wordcloud)

In [38]:
# Pass the argument of stopwords=[] for word cloud and it should generate the cloud with all words

# from wordcloud import WordCloud
# wordcloud = WordCloud(stopwords=[]).generate(string1)
# import matplotlib.pyplot as plt
# %matplotlib inline
# plt.imshow(wordcloud)